@charset "utf-8";
/* CSS Document */

p {
	color: #458446;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: small;
	text-align: center;
}

h1 {
	color: #2B5526;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	font-size: large;
	text-align: center;
	text-decoration: underline;
}

personal {
	color: #A32619;
	text-align: center;
	background-color: #000000;
}
